@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

html,
body {
    height: 100%;
}

/* -------------------------------------------------- */
/* Style du header */
/* -------------------------------------------------- */
header {
    padding: 1rem 2rem;
}

/* -------------------------------------------------- */
/* Style des éléments pour les listes */
/* -------------------------------------------------- */

.list {
    padding: 1rem 2rem;
}


.list-task {
    position: relative;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1rem auto 2rem auto;
    background-color: #D9D9D9;
    border-radius: 2rem;
    color: #FFF;
}

/* -------------------------------------------------- */
/* Style des éléments dans la todolist */
/* -------------------------------------------------- */
.task-list {
    padding: 1rem 2rem;
}

.task-list article {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    background-color: #8E8E8E;
    border-radius: 2rem;
    color: #FFF;
}

.task-list article header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-list article header .task-pointer {
    height: 62px;
    width: 62px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.task-list article header .task-emoji {
    height: 62px;
    width: 62px;
    background-color: #D9D9D9;
    border-radius: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.task-list article .task-date {
    position: absolute;
    width: 70%;
    top: -0.5rem;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #636363;
    border-radius: 2em;
    text-align: center;
}

.task-list article .task-place {
    display: inline-block;
    margin: 0.5rem auto;
    padding: 0.2rem 0.5rem;
    border: 1px white solid;
    border-radius: 1em;
    font-size: 0.8rem;
}

.task-list article .task-comment {
    padding: 1rem 2rem;
    text-align: center;
}